; user identity
[user]
  name = "Jason Knight"
  email = "binarybana@gmail.com"

[color]
	status = auto
	diff = auto
	interactive = auto
	branch = auto

[alias]
	st = status
	co = checkout
	ci = commit
	cdiff = diff --cached
	lg = log --graph --decorate --branches --abbrev-commit

[log]
	date = local

[core]
	excludesfile = /etc/gitignore_global
	editor = vim
	pager = delta

[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
